.header {
    background: url(/resources/img/triangle.png);
    background-size: cover;
    padding-bottom: 30px;

    h1 {
        font-family: $font-family-cursive;
        font-size: $font-size-h1;
        color: $gray-dark;
    }

    p {
        .img-circle {
            max-width: 150px;
        }
    }
}
